<section class="section splash-thank_you">

  <br /><br /><br /><br /><br /><br /><br /><br />

  <div class="panel-body">
    <center><h1>Thank you! </h1></center>
    <br /><br /><br /><br /><br /><br />
    <center><h2> We have received your message and will respond as soon as possible. </h2></center>
  </div><!-- / panel-body -->

</section><!-- / panel -->