<section id="splash">
    <div class= "container">
      </br> <div class="row main">
        <div class="main-center unconfirmed">
          <center><h3>Thanks for signing up! </h3></center><br />
           <center><h4> Check your inbox/mailboxes and confirm your account. </h4></center><br />
           <h5>* Once confirmed you can continue filling in your profile. </h5><br />
        </div>
      </div>
    </div>
</section>
