<div class="application_body separator">
  <div class="fade in" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="false" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
          <center>
            <%= image_tag('antonio.png', name:"aboutme", class:"img-circle", width:"140", height:"140"  ) %>
            <h3 class="media-heading">Antonio Serna</h3>
            <h3 class="media-heading"><small><div class="glyphicon glyphicon-map-marker"></div> Germany, Berlin</small></h3>
            <span><strong> Have Skills and want to improve *(Level 0 to 5): </strong></span><br />
            <span class="label label-success">Ruby L:4</span>
            <span class="label label-success">Rails L:4</span>
            <span class="label label-success">Git L:4.5</span>
            <span class="label label-success">CSS L:4</span>
            <span class="label label-success">HTML L:4</span>
            <span class="label label-success">Linux L:3</span>
            <span class="label label-success">JavaScript L:3</span>
            <span class="label label-success">AWS ec2 L:1.5</span>
            <br /><br />

            <span><strong> Want to learn: </strong></span><br />
            <span class="label label-warning">React</span>
            <span class="label label-warning">Terraform</span>
            <span class="label label-warning">Elixir</span>
            <span class="label label-warning">Python</span>
            <br /><br />
          </center>
            <br />
            <span><strong>Fluent Language/s: </strong></span>
            <span class="label label-default">English</span>
            <span class="label label-default">Spanish</span>
            <span class="label label-default">Catalan</span>
            <span class="label label-default">Italian</span>
            <span class="label label-default">German</span>
            <br /><br />

            <span><strong> Contact Preference/s: </strong></span>
            <span class="label label-default">Email</span>
            <span class="label label-default">Phone</span>
            <span class="label label-default">Skype</span>
            <span class="label label-default">Whastapp</span>
            <br /><br />

            <span><strong> Shared screen tool/s: </strong></span>
            <span class="label label-default">Join.me</span>
            <span class="label label-default">Teamviewer</span>
            <span class="label label-default">Skype</span>
            <br /><br />

            <span><strong>Git accounts:</strong></span>
            <a href="http://www.github.com/nelantone">Github</a><br />
            <br />
            <span><strong>Available for Code reviews : </strong></span>
            <span class="label label-success">YES</span><br /><br />
            <br />
            <p><center><strong>GOALS</strong></center></p>
            <div class="row">
              <div class="col-md-4 col-xs-12 long term">
                <p><center><strong>Long Term</strong></center></p>
                <p>Become a Senior Ruby on Rails Developer in around 1 - 2 years</p>
              </div><!-- /col -->
              <div class="col-md-4 col-xs-12 medium term">
                <p><center><strong>Medium Term</strong></center></p>
                <p>Have the first version of Copair 100% ready *(Social, media, SEO and Blog) in Alpha</p>
              </div><!-- /col -->
              <div class="col-md-4 col-xs-12 short term">
                <p><center><strong>Short Term</strong></center></p>
                <p> Have feedback for Copair website and make changes, find new projects to improve my programming skills</p>
              </div><!-- /col -->
            </div><!-- /row -->

            <br /><br />
            <center><strong>Resume </strong></center> <br />
            <center>I am an Econonomist, with experience in Marketing, PR, Consulting and with 2 to 3 years experience in Web Development</p></center>
            <br>


          </center>
        </div>
      </div>
    </div>
  </div>
</div>

