.footer-distributed{
  background-color: #161918;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 5px 25px 1px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:18px;
  font-weight: bold;
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 2px;

  font-size: 25px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-left: 3px;
}

#f-bottom {
  text-align: center;
  padding-top: 9px;
}

a:focus, a:hover {
    text-decoration: none;
}

.logolnkd.footer {
  max-width: 45px;
}

img.logolnkd.footer:hover {
   content: url(/assets/logo-2-6d5390fff422341cc04fd19bcf066ac5f12efb97a4634e927b0067f8a6ac07e3.png)
}

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
    font-size: 10px;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}
/* line 1, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

.main{
  margin:50px 15px;
}

h1.title {
  font-size: 50px;
  font-family: 'Passion One', cursive;
  font-weight: 400;
}

hr{
  width: 10%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.form-control {
    height: auto!important;
padding: 8px 12px !important;
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

.main-center{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin: 0 auto;
  max-width: 400px;
    padding: 10px 40px;
  background:#009edf;
  color: #FFF;
    text-shadow: none;
     -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
     -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
  background:url(/assets/register-cntr-bf33d3f6101a3d8e237ed9e35804a6569b9adbe6b414a9de9a5e9484365e2df3.png);
}

.main-center.unconfirmed {
  background: rgba(51, 146, 148, 0.7)
}

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}

section.splash-session{
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background:url(/assets/_DSD2203-f3e7866b4a023bd7d368389322ff4fdcce1f562e52d9d231e9e846f44f15c33c.jpg);
  font-family: 'Oxygen', sans-serif;
  background-attachment: fixed;
  background-repeat: repeat;
  }
}

/*fix problem with height*/
section.splash-session.edit-registrations{
  height: 100%;
  background-attachment: fixed;
  background-repeat: repeat;
}

section.splash-session.new-registrations{
  height: 1000px;
}
section.splash-session.sign-in {
  height: 80%;
}

/* Black font in select */
select#user_code_reviewer,
select#user_average_skill_level {
  color: black;
}
/* line 1, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.main-center {
  background: #80CBC4;
}

/* line 4, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.next-step-form {
  background: #5fb6b6;
}

/* line 7, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.btn-primary {
  background-color: #eee;
  color: #423636;
  border: gray;
}

/* line 13, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
#contact form section .input-container label {
  text-shadow: none;
}

/* line 17, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.the-nav li a {
  text-decoration: none;
}

/* line 20, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.logolnkd {
  max-width: 60px;
}

/* line 23, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
footer {
  padding: 0;
}

/* line 26, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.main-login.main-center {
  background: url(/assets/register-cntr-bf33d3f6101a3d8e237ed9e35804a6569b9adbe6b414a9de9a5e9484365e2df3.png);
}

/* line 29, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.the-header .logo img:hover {
  content: url(/assets/logo-2-6d5390fff422341cc04fd19bcf066ac5f12efb97a4634e927b0067f8a6ac07e3.png);
  width: 25%;
  max-width: 3rem;
  min-width: 3rem;
}

/* line 35, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
section.splash-thank_you {
  color: white;
  background: #80CBC4;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background: url(/assets/_DSD2137-CP-203a6ecc7e3c80d72bf395d466416d224e0c56acca492342ee298afd872fdc99.jpg);
  font-family: "Oxygen", sans-serif;
  height: 100%;
}

/* line 45, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.application_body {
  background-attachment: fixed;
  background-size: cover;
  background: url(/assets/pattern2-60145fd29b23435a55cf3161ec7c89a5687955e7f045a0e123361247bbef4f3c.svg);
}

/* line 52, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.separator {
  padding: 7%;
  padding-top: 50px;
}

/* line 58, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.term {
  background-color: #E7F6F3;
}

/* line 62, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
a {
  color: #f9fcff;
}

/* line 65, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.index {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 95%;
}

/* line 71, /home/tonio/Documents/NEW_Wecopair/app/assets/stylesheets/tonio_serna.sass.erb */
.show {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

